<div class="ui-growl ui-growl-message">
  <p-growl [(value)]="msgs" [style] = "{'padding-top':'70px'}"></p-growl>
</div>
<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
    <p-card title="Formation bureatique essentiel" subtitle="340 000 FCFA" styleClass="ui-card-shadow" [style]="{'font-size': '10px','font-weight': 'bold'}">
        <p-header>
            <img src="Card" src="../assets/home/images/usercard.jpeg">
        </p-header>
        <p-footer>
            <button pButton type="button" (click)="showDialogAdd()" label="Add to cart"  class="ui-button-success card-responsive"></button>
            <button type="button" (click)="showDialog()" pButton icon="pi pi-info-circle" label="Detail prod" class="ui-button-secondary card-responsive"></button>
        </p-footer>
    </p-card>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
    <p-card title="Formation en marketing Digital" subtitle="200 000 FCFA" styleClass="ui-card-shadow" [style]="{'font-size': '10px','font-weight': 'bold'}">
        <p-header>
            <img src="Card" src="../assets/home/images/usercard.jpeg">
        </p-header>
        <p-footer>
            <button pButton type="button" (click)="showDialogAdd()" label="Add to cart"  class="ui-button-success card-responsive"></button>
            <button type="button" (click)="showDialog()" pButton icon="pi pi-info-circle" label="Detail prod" class="ui-button-secondary card-responsive"></button>
        </p-footer>
    </p-card>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
    <p-card title="Formation MOS Pro 1 voucher" subtitle="60 000 FCFA" styleClass="ui-card-shadow" [style]="{'font-size': '10px','font-weight': 'bold'}">
        <p-header>
            <img src="Card" src="../assets/home/images/usercard.jpeg">
        </p-header>
        <p-footer>
            <button pButton type="button" (click)="showDialogAdd()" label="Add to cart"  class="ui-button-success card-responsive"></button>
            <button type="button" (click)="showDialog()" pButton icon="pi pi-info-circle" label="Detail prod" class="ui-button-secondary card-responsive"></button>
        </p-footer>
    </p-card>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
    <p-card title="Formation MOS Pro 2 voucher" subtitle="90 000 FCFA" styleClass="ui-card-shadow" [style]="{'font-size': '10px','font-weight': 'bold'}">
        <p-header>
            <img src="Card" src="../assets/home/images/usercard.jpeg">
        </p-header>
        <p-footer>
            <button pButton type="button" (click)="showDialogAdd()" label="Add to cart"  class="ui-button-success card-responsive"></button>
            <button type="button" (click)="showDialog()" pButton icon="pi pi-info-circle" label="Detail prod" class="ui-button-secondary card-responsive"></button>
        </p-footer>
    </p-card>
  </div>


  <p-dialog header="Detail sur le produit" [(visible)]="display" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70"
        [maximizable]="false" [baseZIndex]="10000" (onHide)="CancelAdd()" class="ui-dialog-titlebar">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-11 ui-dialog-content">
        <span>The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
        His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
        Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family,
        kind and benevolent to those who give respect,
        but given to ruthless violence whenever anything stands against the good of the family.
        </span>
      </div>
    </div>
    <p-spinner *ngIf="add === true" size="1" [(ngModel)]="val" [min]="1"></p-spinner>
    <p-footer class="ui-dialog-footer">
        <button *ngIf="add === false" type="button" pButton icon="fa fa-check" (click)="display=false" label="Ok"></button>
        <button *ngIf="add === true" type="button" icon="fa fa-cart-plus" pButton (click)="AddToCard()" label="confirm the addition"></button>
        <button *ngIf="add === true" type="button" pButton icon="fa fa-close" (click)="CancelAdd()" label="Annuler"></button>
    </p-footer>
  </p-dialog>

</div>
