.card-responsive {font-size: 12px;font-weight: bold;}

.card-title{
  font-size: 13px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 5px;
  color: #E35505;
}

.card-price{
  font-weight: bold;
  font-size: 12px;
  color: #000;
}

#card-content{
  width: 200px;
  height: 50px;
  background-color: #fff;
  overflow: auto;
}

.ui-growl { z-index: 2 !important; }

.panier-block{
 width: 50px;
 height: 50px;
 display: inline-block;
 vertical-align: middle;
 float: none;
}

.nbreprod{
  width: auto;
  height: auto;
  background-color: #FF00FF;
  padding-left: 6px;
  padding-right: 6px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-radius: 15px;
  position: absolute;
  z-index: 1;
}

.button-pan{
  margin-right: -5px;
  z-index: 0;
}

.img-panier {
  width: 60px;
  height: 60px;
  border-radius: 25px;
  margin-top: -5px;
  margin-left: -12px;
  z-index: 0;
}

.life-container{
  background: #3FA0E1;
  padding: .5em;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

.promotion{
  height: 50px;
  max-width: 90%;
  background-color: #FFF8DC;
  text-align: center;
  padding: .5em;
  font-weight: bolder;
}

.detail-promo{
  font-weight:bolder;
  background:#00BFFF;
  color:#fff;
}
.detail-promo:hover{
  background-color: #1E90FF;
}

.cart-anim{
  -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 0.5s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.5s;
    -moz-transform-style: preserve-3d;
    -o-transition: 0.5s;
    -o-transform-style: preserve-3d;
    -ms-transition: 0.5s;
    -ms-transform-style: preserve-3d;
    transition: 0.5s;
    transform-style: preserve-3d;
}

.cart-anim:hover {
  -webkit-transform: rotateY(15deg);
  -moz-transform: rotateY(15deg);
  -o-transform: rotateY(15deg);
  transform: scale(1.05);
}

/* For responsive table */
@media only all {
    th.ui-p-6,
    td.ui-p-6,
    th.ui-p-5,
    td.ui-p-5,
    th.ui-p-4,
    td.ui-p-4,
    th.ui-p-3,
    td.ui-p-3,
    th.ui-p-2,
    td.ui-p-2,
    th.ui-p-1,
    td.ui-p-1 {
        display: none;
    }
}

/* Show priority 1 at 320px (20em x 16px) */
@media screen and (min-width: 20em) {
    th.ui-p-1,
    td.ui-p-1 {
        display: table-cell;
    }
}

/* Show priority 2 at 480px (30em x 16px) */
@media screen and (min-width: 30em) {
    th.ui-p-2,
    td.ui-p-2 {
        display: table-cell;
    }
}

/* Show priority 3 at 640px (40em x 16px) */
@media screen and (min-width: 40em) {
    th.ui-p-3,
    td.ui-p-3 {
        display: table-cell;
    }
}

/* Show priority 4 at 800px (50em x 16px) */
@media screen and (min-width: 50em) {
    th.ui-p-4,
    td.ui-p-4 {
        display: table-cell;
    }
}

/* Show priority 5 at 960px (60em x 16px) */
@media screen and (min-width: 60em) {
    th.ui-p-5,
    td.ui-p-5 {
        display: table-cell;
    }
}

/* Show priority 6 at 1,120px (70em x 16px) */
@media screen and (min-width: 70em) {
    th.ui-p-6,
    td.ui-p-6 {
        display: table-cell;
    }
}
