<div class="container">
	<div class="row main">
		<section class="col-lg-9 col-md-9 col-sm-9 col-xs-12 main-login main-center">
      <ul class="nav nav-pills text-transform">
        <li class="active" style="padding-left:10%;padding-right: 40%;"><a href="#register" data-toggle="tab">Register</a></li>
        <li style="padding-right:10%;"><a href="#login" data-toggle="tab">Log in</a></li>
      </ul>
			<hr class="nav-head">
      <div class="tab-content">
        <div class="tab-pane active fade in" id="register">
					<form class="" novalidate [formGroup]="formreg" (ngSubmit)="addUser()">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label for="name" class="cols-sm-2 control-label">First Name</label>
									<div class="cols-sm-10">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
											<input type="text" pInputText pKeyFilter="alpha" class="form-control" formControlName="firstname" id="firstname" placeholder="Enter your FirstName"/>
										</div>
									</div>
								</div>
								<div id="vignets">
									<div *ngIf="formreg.get('firstname').touched && formreg.get('firstname').invalid" class="cross-validation-error-message alert alert-danger">
										<div *ngIf="formreg.get('firstname').hasError('required')">
											First name is required!
										</div>
										<div *ngIf="formreg.get('firstname').hasError('minlength')">
											Less than 2 characters!
										</div>
										<div *ngIf="formreg.get('firstname').hasError('maxlength')">
											More than 30 characters!
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label for="name" class="cols-sm-2 control-label">Last Name</label>
									<div class="cols-sm-10">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
											<input type="text" pInputText pKeyFilter="alpha" class="form-control" formControlName="lastname" id="lastname" placeholder="Enter your LastName"/>
										</div>
									</div>
								</div>
								<div id="vignets">
									<div *ngIf="formreg.get('lastname').touched && formreg.get('lastname').invalid" class="alert alert-danger">
										<div *ngIf="formreg.get('lastname').hasError('maxlength')">
											More than 30 characters!
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label for="email" class="cols-sm-2 control-label">Your Email</label>
									<div class="cols-sm-10">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
											<input type="text" pInputText pKeyFilter="email" class="form-control" formControlName="email" id="email" placeholder="Enter your Email"/>
										</div>
									</div>
								</div>
								<div id="vignets">
									<div *ngIf="formreg.get('email').touched && formreg.get('email').invalid" class="alert alert-danger">
										<div *ngIf="formreg.get('email').hasError('required')">
											email is required!
										</div>
										<div *ngIf="formreg.get('email').hasError('email') && !formreg.get('email').hasError('required')">
											Invalid email!
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label for="number" class="cols-sm-2 control-label">Your phone number</label>
									<div class="cols-sm-10">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-mobile-phone fa" aria-hidden="true"></i></span>
											<input type="text" pInputText [pKeyFilter]="phoneNumber" class="form-control" formControlName="number" id="number" placeholder="Enter your phone number"/>
										</div>
									</div>
								</div>
								<div id="vignets">
									<div *ngIf="formreg.get('number').touched && formreg.get('number').invalid" class="alert alert-danger">
										<div *ngIf="formreg.get('number').hasError('required')">
											phone number is required!
										</div>
										<div *ngIf="formreg.get('number').hasError('pattern')">
											Invalid phone number, required 9 digits!
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label for="username" class="cols-sm-2 control-label">Your Username</label>
									<div class="cols-sm-10">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
											<input type="text" pInputText pKeyFilter="alphanum" class="form-control" formControlName="username" id="username" placeholder="Enter your Username"/>
										</div>
									</div>
								</div>
								<div id="vignets">
									<div *ngIf="formreg.get('username').touched && formreg.get('username').invalid" class="alert alert-danger">
										<div *ngIf="formreg.get('username').hasError('required')">
											Username is required!
										</div>
										<div *ngIf="formreg.get('username').hasError('minlength')">
											Less than 4 characters!
										</div>
										<div *ngIf="formreg.get('username').hasError('maxlength')">
											More than 30 characters!
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label for="password" class="cols-sm-2 control-label">Your Password</label>
									<div class="cols-sm-10">
										<div class="input-group pass_show">
											<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
											<input type="password" pInputText pKeyFilter="alphanum" pPassword class="form-control" formControlName="password" id="password" placeholder="Enter your Password"/>
											<span class="input-group-addon ptxt">Show</span>
										</div>
									</div>
								</div>
								<div id="vignets">
									<div *ngIf="formreg.get('password').touched && formreg.get('password').invalid" class="alert alert-danger">
										<div *ngIf="formreg.get('password').hasError('required')">
											Password is required!
										</div>
										<div *ngIf="formreg.get('password').hasError('minlength')">
											Less than 5 characters!
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="form-group">
									<label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
									<div class="cols-sm-10">
										<div class="input-group pass_show">
											<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
											<input type="password" pInputText pKeyFilter="alphanum" pPassword class="form-control" formControlName="confirm" id="confirm" placeholder="Confirm your Password"/>
											<span class="input-group-addon ptxt">Show</span>
										</div>
									</div>
								</div>
								<div id="vignets">
									<div *ngIf="(formreg.get('confirm').touched && formreg.get('confirm').invalid) || formreg.errors" class="alert alert-danger">
										<div *ngIf="formreg.get('confirm').hasError('required')">
											Confirm password is required!
										</div>
										<div *ngIf="formreg.get('confirm').hasError('minlength')">
											Less than 5 characters!
										</div>
										<div *ngIf="formreg.errors.validPassword && !formreg.get('confirm').hasError('minlength') && !formreg.get('confirm').hasError('required')">
											This password is not the same as the one above
										</div>
									</div>
								</div>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<button pButton type="submit" (click)="showInforms('reg')" [disabled]="formreg.invalid" label="Register" icon="fa fa-registered" tabindex="4" class="form-control btn btn-raised btn-primary btn-lg btn-login" style="font-weight:bold;"></button>
							</div>
						</div><br>
						<div class="login-register">
						  <a href="">Veuillez bien sauvegarder ces informations</a>
						</div>
					</form>
				</div>

				<div class="tab-pane fade in" id="login">
					<form class="" novalidate [formGroup]="formlog" (ngsubmit)="verifyUser()">
						<div class="form-group">
							 <label for="useremail" class="cols-sm-2 control-label">Your username or email</label>
							 <div class="cols-sm-10">
								 <div class="input-group">
									 <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									 <input type="text" pInputText pKeyFilter="email" class="form-control" formControlName="useremail" id="useremail" placeholder="Enter your Username or Email"/>
									 <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
								 </div>
							 </div>
						 </div>
						 <div id="vignets">
							 <div *ngIf="formlog.get('useremail').touched && formlog.get('useremail').invalid" class="alert alert-danger">
								 <div *ngIf="formlog.get('useremail').hasError('required')">
									 Username or email is required!
								 </div>
								 <div *ngIf="formlog.get('useremail').hasError('minlength')">
									 Less than 4 characters!
								 </div>
								 <div *ngIf="formlog.get('useremail').hasError('maxlength')">
									 More than 30 characters!
								 </div>
							 </div>
						 </div>
						 <div class="form-group">
							 <label for="password" class="cols-sm-2 control-label">Your password</label>
							 <div class="cols-sm-10">
								 <div class="input-group pass_show">
									 <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									 <input type="password" pPassword pInputText pKeyFilter="alphanum" class="form-control" formControlName="password" id="email" placeholder="Enter your password"/>
									 <span class="input-group-addon ptxt">Show</span>
								 </div>
							 </div>
						 </div>
						 <div id="vignets">
							 <div *ngIf="formlog.get('password').touched && formlog.get('password').invalid" class="alert alert-danger">
								 <div *ngIf="formlog.get('password').hasError('required')">
									 Password is required!
								 </div>
								 <div *ngIf="formlog.get('password').hasError('minlength')">
									 Less than 5 characters!
								 </div>
							 </div>
						 </div>
						 <hr>
						 <div class="row">
							 <div class="col-sm-6 col-sm-offset-3">
								 <button pButton type="submit" (click)="showInforms('log')" [disabled]="formlog.invalid" style="font-weight:bold;" label="Log in" icon="fa fa-hand-o-right" tabindex="4" class="form-control btn btn-raised btn-primary btn-lg btn-login"></button>
							 </div>
						 </div>
					</form>
	      </div>
      </div>
    </section>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
			<p-panel>
			    <p-header>
		        <div class="ui-helper-clearfix">
		            <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px;font-weight:bold">
									<i class="fa fa-cart-arrow-down fa-lg" aria-hidden="true"></i> Detail of My Cart
								</span>
		        </div>
			    </p-header>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<table class="table table-hover">
								<caption><i class="form-item-1">Cart code: </i>{{myCart.indexPan}}</caption>
							  <thead class="thead-dark">
							    <tr>
							      <th scope="col">N°</th>
							      <th scope="col">Product</th>
							      <th scope="col">number</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr *ngFor="let myPanprod of myPanprods;let index=index">
							      <th scope="row">{{index}}</th>
							      <td>{{myPanprod.produit.nomProd}}</td>
							      <td>{{myPanprod.nbreExempl}}</td>
							    </tr>
							  </tbody>
							</table>
						</div>
					</div>
			    <p-footer class="price">
			        <span> {{solde}} FCFA</span>
			    </p-footer>
			</p-panel>
		</div>
	</div>
</div>
<p-dialog header="Your informations" [(visible)]="display4" [modal]="true" [responsive]="true" [width]="400" [minWidth]="200" [minY]="70"
			[maximizable]="false" [baseZIndex]="10000" [closeOnEscape]="false" [closable]="false" (onHide)="display4=false" class="ui-dialog-titlebar">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-11">
			<div class="ui-dialog-content">
				<ul class="list-group">
					<li class="list-group-item">FirstName: <i class="form-item">{{formreg.get('firstname').value}}</i></li>
					<li class="list-group-item">LastName: <i class="form-item">{{formreg.get('lastname').value}}</i></li>
					<li class="list-group-item">Email: <i class="form-item">{{formreg.get('email').value}}</i></li>
					<li class="list-group-item">Phone number: <i class="form-item">{{formreg.get('number').value}}</i></li>
					<li class="list-group-item">Username: <i class="form-item">{{formreg.get('username').value}}</i></li>
					<li class="list-group-item">Password: <i class="form-item">{{formreg.get('password').value}}</i></li>
				</ul>
			</div>
		</div>
	</div>
	<p-footer class="ui-dialog-footer">
			<button type="button" pButton icon="fa fa-thumbs-o-up" (click)="saveInform()" label="I confirm them"></button>
			<button type="button" pButton icon="fa fa-close" (click)="display4=false" label="Cancel"></button>
	</p-footer>
</p-dialog>

<p-dialog header="Entrez le code d'authentification" [(visible)]="display5" [modal]="true" [responsive]="true" [width]="300" [minWidth]="200" [minY]="70"
      [maximizable]="false" [baseZIndex]="10000" [closable]="false" class="ui-dialog-titlebar" (onHide)="display5=false">
	<p-header><hr>
        <span class="code-head"> Un email a été envoyé à cette adresse, il contient le code d'authentification à entrer dans ce champ,
					veuillez donc consulter votre boîte mail</span>
  </p-header><hr>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-11">
      <div class="ui-dialog-content">
					<span class="ui-float-label">
							<input id="float-input" type="text" size="13" pInputText [(ngModel)]="authCode" class="form-control" placeholder="Enter code"/>
					    <label for="float-input" class="floatlabel">Authentification code</label>
					</span>
      </div>
    </div>
  </div>
  <p-footer class="ui-dialog-footer">
      <button type="button" pButton icon="fa fa-check" (click)="auth()" label="Soumettre"></button>
      <button type="button" icon="fa fa-close" pButton  (click)="display5=false" label="Annuler"></button>
  </p-footer>
</p-dialog>
