/* You can add global styles to this file, and also import other style files */
body { padding-top: 100px; }

.btn-lg-style {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.form-item{
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 10px;
}

.form-item-1{
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

.code-head{
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    padding-top: 20px;
}

.main-login, .main-pan{
 	background-color: #fff;
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 10px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
  padding: 20px 20px
}
